.acf-postbox:first-child,
.acf-postbox.seamless { margin-bottom: 0; }
.acf-postbox { border: 0; }

#poststuff h3.hndle { padding: 20px; }

#side-sortables h3.hndle { padding: 8px 12px; }

/*------------------------------------*\
    ACF TABS
\*------------------------------------*/

.acf-postbox.default .acf-tab-group { padding: 0; }

.acf-hl > li {
  	float: left;
  	position: relative;
  	z-index: 1;
  	display: block;
  	margin: 0;
  	text-align: center;
}

.acf-tab-group li.active a { 
	 padding: 2em; 
}

.acf-tab-group li a {
  	border: 0;
  	border-radius: 0;
    overflow: visible;
   	padding: 2em;
    line-height: 1;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

/*------------------------------------*\
   CUSTOM HEADER
\*------------------------------------*/

#custom-acf-header {
    background: url('../images/footer-logo.png') 95% 50% no-repeat #333;
    padding: 40px;
    text-indent: -9999px;
}

/*------------------------------------*\
   ACF FIELDS
\*------------------------------------*/

.acf-fields > .custom-acf-message,
.acf-fields > .custom-acf-field { padding: 40px; }

.acf-fields > .custom-acf-message h2,
.acf-fields > .custom-acf-message strong  { color: #000; }

.acf-fields > .custom-acf-message h3 { 
	padding: 0 !important;
	color: #444;
}

.acf-fields > .custom-acf-message ul {
	padding-left: 20px;
	list-style: disc;
}

.acf-fields > .custom-acf-message p,
.acf-fields > .custom-acf-message li { color: #8f8f8f; }

.acf-field[data-width] + .acf-field[data-width] { border-left: 0; }
.custom-acf-message[data-width] + .acf-field[data-width] { border-left: 0; }

.acf-field-image .acf-image-uploader .acf-button { margin-top: 10px; }

